body{
    background-size: cover;
    background-repeat: no-repeat;
    /*  */
    width: 100%;
    height: 100vh;
}

.main-container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.timer{
    font-weight: 500;
    font-size: 168px;
    line-height: 168px;
    text-shadow: 5px 5px 5px #000000dd;
}

.timer-content{
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    text-shadow: 5px 5px 5px #000000dd;
}

/* memo */
.memo-wrapper{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-shadow: 5px 5px 5px #000000dd;
}
.memo{
    font-size: 30px;
}

/* 날씨 구분 */
.modal-button{
    background: url("./images/001-cloud.png");
    background-size: cover;
    width: 100px;
    height: 100px;
    cursor: pointer;

    position: fixed;
    top: 40px;
    right: 40px;
}

/* 명언 파트 */
.quote-wrapper{
    width: 900px;
    text-shadow: 5px 5px 5px #000000dd;
}

.quote-content{
    word-wrap: normal;
}